main {
  overflow: auto;
  hyphens: auto;

  h1,
  h2 {
    clear: both;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

figure {
  margin: auto;
  display: block;

  img {
    margin: auto;
    border: none;
  }

  figcaption {
    text-align: center;
    width: 70%;
    margin: auto;
    color: darkgray;
  }

  .float-left,
  .float-right {
    margin: 0.2em;
  }
}

pre {
  clear: both;

  code {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
